/* App.css */
.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.app-header {
  margin-bottom: 20px;
  width: 80%;
  /* or any specific width */
  margin-left: auto;
  margin-right: auto;
}

.app-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  margin-top: 20px;
  margin-right: 4px;
  margin-left: 10px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #0056b3;
}

.settlements {
  margin-top: 20px;
}

.settlement {
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}